.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Home {
  /* background-image: url('../photos/nền chính mở đầu_final.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;  */
  min-height: 100vh;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Để video ở phía dưới nội dung */
}

.Home .container {
  display: flex;
  align-items: end;
  height: 100vh;
  width: 100vw;
}

.Home .container .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;

  height: 100px;
  width: 100%;
}

.Home .container .box {
  background-color: #e0e1e2e7;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 25%;
  min-width: 250px;
  height: 60px;
  max-width: 300px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home .container .box:hover {
  background-color: #a4a6a8e7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.37);
}

.Home .container .box:hover span {
  color: #046cf5;
}

.Home .container .box span {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #03469d;
}

/* .Home .container .box span:hover {
  color: inherit;
} */

.App-link {
  color: #61dafb;
}

@media screen and (max-width: 768px) {
  .Home .container {
    display: flex;
    flex-direction: column;
    /* khoang cach giua cac phan tu */
    justify-content: space-evenly;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
  }
}
