.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../photos/nền các bài hát truyền thống quân chủng PK-KQ.jpg");
    background-size: cover; /* Làm hình nền phủ hết màn hình */
    background-position: center center; /* Căn giữa hình nền */
    background-repeat: no-repeat; /* Không lặp lại hình nền */
    position: relative;
}

.Container .back-btn {
    padding: 20px;
    min-width: 80px;
    position: absolute;
    top: 20px; /* Push the container down by 200px */
    left: 20px;
    cursor: pointer;
    background-color: #45a049;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
