.video-background-music {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  z-index: -1;
}

.Container {
  height: 100vh;
  width: 100vw;
  /* background-image: url("../photos/nền các bài hát truyền thống quân chủng PK-KQ.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;  */
  position: relative;
}

.Container .back-btn {
  padding: 15px;
  min-width: 80px;
  position: absolute;
  top: 10px; /* Push the container down by 200px */
  left: 10px;
  cursor: pointer;
  background-color: #45a049;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.Container .MusicPlayer {
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */

  /* position: absolute;
    width: 400px;
    right: 10px;
    bottom: 10px; */

  width: 100%;
  position: absolute;
  bottom: 0;
}
