.TracNghiem {
  /* background-image: url("../photos/anh_nen_chinh.gif");
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;  */
  min-height: 100vh;
  min-width: 400px;
  position: relative;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  /* Để video ở phía dưới nội dung */
}

.ShowResult {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.473);
  z-index: 10;
}

.KetQua {
  position: absolute;
  top: 200px;
  left: calc(50% - 250px);
  width: 500px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.918);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.KetQua h1 {
  font-size: 40px;
  color: #ffffff;
  margin: 0;
}

.KetQua button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.TracNghiem .btn-back {
  padding: 15px;
  min-width: 70px;
  position: absolute;
  top: 160px;
  /* Push the container down by 200px */
  left: 10px;
  cursor: pointer;
  background-color: #45a049;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .TracNghiem .btn-back {
    padding: 20px;
    min-width: 80px;
    /* position: absolute; */
    top: auto;
    bottom: 20px;
    /* Push the container down by 200px */
    left: 10px;
    cursor: pointer;
    background-color: #45a049;
    color: white;
    border-radius: 4px;
    font-weight: bold;
  }
}

.TracNghiem .result {
  width: 100px;
  height: 30px;
  background-color: rgba(0, 1, 1, 0.742);
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  top: 10px;
  /* Push the container down by 200px */
  right: 10px;
  display: flex;
  justify-content: center;
}

.TracNghiem .result h2 {
  font-size: 24px;
  color: #ffffff;
  margin: 0;
  align-self: center;
}

.TracNghiem .container {
  width: 80%;
  min-height: 400px;
  margin: 0 auto;
  background-color: rgba(225, 255, 255, 0.7);
  border-radius: 10px;
  padding: 20px;
  position: relative;
  top: 160px;
  /* Push the container down by 200px */
}

h1 {
  text-align: left;
  color: #333;
}

/* .question {
  margin-bottom: 120px;
} */

.question h2 {
  font-size: 20px;
  color: #211d1d;
}

.question h3 {
  margin-bottom: 30px;
  font-size: 15px;
  color: #4c2a2a;
}

.options {
  list-style-type: none;
  padding: 0;
}

.options li {
  margin-bottom: 20px;
}

.options li label {
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

.options input {
  margin-right: 10px;
}

.TracNghiem .result-btn {
  display: flex;
  justify-content: space-evenly;
}

.TracNghiem .submit-btn {
  width: 200px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  /* position: absolute;
  bottom: 20px; */
}

.TracNghiem .prev-btn {
  width: 100px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  /* position: absolute;
  bottom: 20px; */
}

.TracNghiem .next-btn {
  width: 100px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  rotate: 180deg;
  /* position: absolute;
  bottom: 20px; */
}

/* .next-btn:hover {
  background-color: #45a049;
} */

.TracNghiem .submit-btn:hover {
  background-color: #45a049;
}

.explain {
  background-color: #f9f9f95b;
  border-left: 6px solid #7f7f7f;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}
