.TracNghiem {
  background-image: url("../photos/nền trắc nghiệm_final.jpg");
  background-size: cover; /* Làm hình nền phủ hết màn hình */
  background-position: center center; /* Căn giữa hình nền */
  background-repeat: no-repeat; /* Không lặp lại hình nền */
  min-height: 100vh;
  min-width: 400px;
  position: relative;
}

.TracNghiem .btn-back {
  padding: 20px;
  min-width: 80px;
  position: relative;
  top: 20px; /* Push the container down by 200px */
  left: 20px;
  cursor: pointer;
  background-color: #45a049;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.TracNghiem .result {
  width: 120px;
  height: 120px;
  background-color: rgba(0, 1, 1, 0.742);
  border-radius: 50%;
  padding: 20px;
  position: absolute;
  top: 20px; /* Push the container down by 200px */
  right: 50px;
  display: flex;
  justify-content: center;
}

.TracNghiem .result h2 {
  font-size: 24px;
  color: #ffffff;
  margin: 0;
  align-self: center;
}

.TracNghiem .container {
  width: 80%;
  height: auto;
  margin: 0 auto;
  background-color: rgba(225, 255, 255, 0.7);
  border-radius: 10px;
  padding: 20px;
  position: relative;
  top: 120px; /* Push the container down by 200px */
}

h1 {
  text-align: left;
  color: #333;
}
.question {
  margin-bottom: 120px;
}
.question h2 {
  font-size: 20px;
  color: #211d1d;
}
.question h3 {
  margin-bottom: 30px;
  font-size: 15px;
  color: #4c2a2a;
}
.options {
  list-style-type: none;
  padding: 0;
}
.options li {
  margin-bottom: 20px;
  
}
.options li label {
  font-size: 18px;
  color: #333;
  cursor: pointer;
}
.options input {
  margin-right: 10px;
}

.result-btn {
  display: flex;
  justify-content: center;
}

/* .next {
  width: 50px;
  height: 50px;
  background-color: #4CAF50;
  position: absolute;
  right: 10px;
  top: calc(50% - 25px);
  border-radius: 50%;
} */

.next-btn {
  width: 50px;
  height: 50px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: calc(50% - 25px);
  border-radius: 50%;
}

.submit-btn {
  width: 200px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  bottom: 20px;
}

.next-btn:hover {
  background-color: #45a049;
}
.submit-btn:hover {
  background-color: #45a049;
}

.explain {
  background-color: #f9f9f95b;
  border-left: 6px solid #7f7f7f;
  padding: 20px;
  margin-top: 20px;
  margin-right: 50px;
  border-radius: 10px;
}